  .container-ilg-search-category {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .search-panel {
    display: flex;
  }
  
  .search-panel__filters {
    flex: 1;
  }
  
  .search-panel__results {
    flex: 3;
    padding-left:18px;
  }
  
  .searchbox {
    margin-bottom: 2rem;
  }
  
  .pagination {
    margin: 2rem auto;
    text-align: center;
  }

  /* custom */
  .category-title-box {
    width:327px;
    height:256px;
    background: transparent linear-gradient(232deg, #2AB1C0 0%, #39B896 100%) 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:80px;
  }
  .ais-MenuSelect {
    margin-right:16px;
  }
  .ais-MenuSelect-select {
    border:none;
    background-color: #F9F9FA;
    color:#252525;
    font-size:14px;
    width:200px;
    height:40px;
    outline: none;
    padding-left:15px;
  }
  .btn-compare {
    border: 1px solid #F9F9FA;
    width:150px;
    height:40px;
    background-color: unset;
    color:#363D3F;
  }
  .ais-SortBy {
    margin-left:16px;
  }
  .ais-SortBy-select {
    border:none;
    background-color: #F9F9FA;
    color:#252525;
    font-size:14px;
    width:200px;
    height:40px;
    outline: none;
    padding-left:15px; 
  }
 
  .ais-Hits-list {
    margin-left: 0 !important;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    display: grid !important;
    column-gap: 30px;
    row-gap: 15px;
    grid-template-columns: 327px auto 327px;
    grid-template-rows: 515px;
    justify-items: center;
  }
  .ais-Hits-item{    
    width:327px !important;
    height:515px;
    border: none;
    box-shadow: 0px 0px 12px #0000000F;
    margin-left: 0 !important;
    /* margin-right:24px; */
    border-radius: 3px;

  }
  .selected-product-img {
    width:287px;
    height:287px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selected-product-img img {
    max-width:287px;
    height:100%;
  }
  .selected-product-title {
    width:100%;
    height:50px;
    font-size: 14px;
    margin: 32px 0 5px 0;
    text-align: center;
    color:#252525;
  }
  .selected-product-detail {
    display: flex;    
    justify-content:space-between;
    margin-bottom:10px;
  }
  .product-info-productId, .product-info-brand {
    font-size:12px;
    color:#252525;
  }
  .product-info-price {
    color:#252525;
    font-size:18px;
    font-weight: 700;
  }
  .selected-product-color-wrapper {
    display: flex;    
  }
  .product-info-color {
    width:24px;
    height:24px;
    background-color: #EBEAEE;
    margin-left:5px;
  }

  .ais-Hits-btn-view {    
    width:100%;
    height:40px;
    border:none;
    background-color: #F9F9FA;
  }
  
  .refinement-dropdown-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    /* padding-right:30px; */
  }
  .section-justify-left {
    display: flex;
    align-items: center;
  }  .section-justify-right{
    display: flex;
    align-items: center;
  }

  /* left side filter customization */

  .dpc-product-left-filter {
    list-style: none;
    padding:0;
  }
  .ais-RefinementList-item {
    width:327px;
    height:64px;
    border-bottom:1px solid #EBEAEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px 10px 30px;
    font-size: 16px;
    font-weight: 700;
  }
  .list-item-justify-wrapper {
    display: flex;
    align-items: center;
  }
  .filter-icon-wrapper {
    width:64px;
    height:64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .filtered-item-number {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px;
    background-color: #F5F3E9;
    border-radius: 20px;
    font-size:14px;
    
  }
  .dpc-product-filter-item {
    text-decoration: none;
    color: #363D3F;
  }